# Data Cleaning

#### Load the energy data from the file assets/Energy Indicators.xls, which is a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013, and should be put into a DataFrame with the variable name of Energy.

In [55]:
import xlrd
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd 
import numpy as np

file =r'assets/Energy Indicators.xls'
df = pd.read_excel(file)
#print(df2[df2['Country']=="Republic of Korea"])

#### we make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so we  should get rid of them, and we should change the column labels so that the columns are:

#### ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable]

######Convert Energy Supply to gigajoules
######For all countries which have missing data (e.g. data with "...") make sure this is reflected as np.NaN values.

In [42]:
df.drop(df.columns[[0,1]],axis=1,inplace=True)
df.columns=['Country','Energy Supply','Energy Supply per capita','% Renewable']
df2=df[17:]
print(len(df2))
df2.head(10)

265

                Country Energy Supply Energy Supply per capita % Renewable
17          Afghanistan           321                       10     78.6693
18              Albania           102                       35         100
19              Algeria          1959                       51     0.55101
20       American Samoa           ...                      ...    0.641026
21              Andorra             9                      121     88.6957
22               Angola           642                       27     70.9091
23             Anguilla             2                      136           0
24  Antigua and Barbuda             8                       84           0
25            Argentina          3378                       79     24.0645
26              Armenia           143                       48     28.2361

### Renaming the following list of countries

"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"

In [23]:
df2.replace('Republic of Korea','South Korea', inplace = True)
df2.replace('United States of America','United States', inplace = True)
df2.replace('United Kingdom of Great Britain and Northern Ireland','United Kingdom', inplace = True)
df2.replace('China, Hong Kong Special Administrative Region','Hong Kong', inplace = True)

c:\users\dell\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\frame.py:4166: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [25]:
df2['Country'] = df2['Country'].str.replace(r"\(.*\)","")

<ipython-input-25-a9a5fd3016a2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Country'] = df2['Country'].str.replace(r"\(.*\)","")

In [26]:
Energy=df2.replace(to_replace="^..+\.$",value="NaN",regex=True).reset_index()
Energy.head()

   index         Country Energy Supply Energy Supply per capita  % Renewable
0     17     Afghanistan           321                       10    78.669280
1     18         Albania           102                       35   100.000000
2     19         Algeria          1959                       51     0.551010
3     20  American Samoa           NaN                      NaN     0.641026
4     21         Andorra             9                      121    88.695650

In [27]:
Energyy=Energy[Energy['Energy Supply']!="NaN"]['Energy Supply']*100000  
Energy['Energy Supply']=Energyy
Energy.head()

   index         Country Energy Supply Energy Supply per capita  % Renewable
0     17     Afghanistan      32100000                       10    78.669280
1     18         Albania      10200000                       35   100.000000
2     19         Algeria     195900000                       51     0.551010
3     20  American Samoa           NaN                      NaN     0.641026
4     21         Andorra        900000                      121    88.695650

In [28]:
Energy.head()

   index         Country Energy Supply Energy Supply per capita  % Renewable
0     17     Afghanistan      32100000                       10    78.669280
1     18         Albania      10200000                       35   100.000000
2     19         Algeria     195900000                       51     0.551010
3     20  American Samoa           NaN                      NaN     0.641026
4     21         Andorra        900000                      121    88.695650

In [30]:
#get the columns names
GDP=pd.read_csv('assets/world_bank.csv')
#GDP.columns=GDP
liste_columns=[]
for label, value in GDP.iloc[3].iteritems():
    liste_columns.append(GDP.iloc[3].loc[label])
#print(liste_columns)

In [31]:
GDP.columns=liste_columns
print(GDP.columns)

Index([  'Country Name',   'Country Code', 'Indicator Name', 'Indicator Code',
                 1960.0,           1961.0,           1962.0,           1963.0,
                 1964.0,           1965.0,           1966.0,           1967.0,
                 1968.0,           1969.0,           1970.0,           1971.0,
                 1972.0,           1973.0,           1974.0,           1975.0,
                 1976.0,           1977.0,           1978.0,           1979.0,
                 1980.0,           1981.0,           1982.0,           1983.0,
                 1984.0,           1985.0,           1986.0,           1987.0,
                 1988.0,           1989.0,           1990.0,           1991.0,
                 1992.0,           1993.0,           1994.0,           1995.0,
                 1996.0,           1997.0,           1998.0,           1999.0,
                 2000.0,           2001.0,           2002.0,           2003.0,
                 2004.0,           2005.0,           2006.0,           2007.0,
                 2008.0,           2009.0,           2010.0,           2011.0,
                 2012.0,           2013.0,           2014.0,           2015.0],
      dtype='object')

In [33]:
GDP=GDP[4:]
GDP.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0
8,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
9,Arab World,ARB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.763824e+12,1.863481e+12,1.980983e+12,2.011001e+12,2.103825e+12,2.173896e+12,2.318267e+12,2.385580e+12,2.436659e+12,2.509068e+12
10,United Arab Emirates,ARE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.789489e+11,2.878318e+11,2.970189e+11,2.814464e+11,2.860493e+11,3.009462e+11,3.216922e+11,3.355937e+11,3.509313e+11,3.621003e+11

In [34]:
GDP['Country']=GDP['Country Name']

In [35]:
del GDP['Country Name']

In [37]:
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd 

file = r'assets/scimagojr-3.xlsx'
ScimEn = pd.read_excel(file)
ScimEn.head(10)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
5,6,Canada,17899,17620,215003,40930,12.01,149
6,7,Germany,17027,16831,140566,27426,8.26,126
7,8,India,15005,14841,128763,37209,8.58,115
8,9,France,13153,12973,130632,28601,9.93,114
9,10,South Korea,11983,11923,114675,22595,9.57,104

In [80]:

def merge():
    #print(GDP.columns)
    #print(Energy.columns)
    #print(ScimEn.columns)
    df = pd.merge(pd.merge(Energy, GDP, on='Country'), ScimEn, on='Country')
    df.set_index('Country',inplace=True)
    #print(len(df))
    df = df[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per capita', '% Renewable', 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]]
    taf=df.sort_values('Rank')
    #print(len(taf.iloc[0:15 , :]))
    return taf.iloc[0:15 , :]
    
merge().shape

(15, 20)

#### "When we joined the datasets, but before we reduced this to the top 15 items, how many entries did we lose?"

In [81]:
def answer_two():
    df = pd.merge(pd.merge(Energy, GDP, on='Country'), ScimEn, on='Country')
    return len(df)-len(merge())
answer_two()

122

# phase d'analyse

In [105]:
merge()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per capita,% Renewable,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0
Country,,,,,,,,,,,,,,,,,,,,
Russian Federation,5,18534,18301,34266,12422,1.85,57,3070900000,214,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1043100000,296,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1326100000,165,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3319500000,26,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1214900000,59,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12
Turkey,17,5879,5827,91857,23165,15.62,104,489700000,64,28.536690,6.680034e+11,6.991896e+11,7.037962e+11,6.698319e+11,7.311681e+11,7.953116e+11,8.122315e+11,8.462844e+11,8.718432e+11,9.065849e+11
Norway,18,5675,5634,32693,6024,5.76,74,138800000,273,97.635580,4.190512e+11,4.313284e+11,4.329860e+11,4.259607e+11,4.285247e+11,4.326762e+11,4.445694e+11,4.490094e+11,4.589539e+11,4.662883e+11
Sweden,20,4565,4494,57889,9632,12.68,95,204400000,212,46.598460,4.726099e+11,4.887020e+11,4.859797e+11,4.607834e+11,4.883793e+11,5.013917e+11,4.999562e+11,5.061616e+11,5.176362e+11,5.388264e+11
Malaysia,21,3914,3881,25545,6597,6.53,62,341700000,116,7.754589,2.163030e+11,2.299275e+11,2.410371e+11,2.373885e+11,2.550169e+11,2.685170e+11,2.832141e+11,2.965633e+11,3.143352e+11,3.299022e+11
Mexico,24,3249,3214,21524,4145,6.62,57,794400000,64,12.913400,1.002729e+12,1.034857e+12,1.049348e+12,1.000025e+12,1.051129e+12,1.093643e+12,1.137587e+12,1.152892e+12,1.178836e+12,1.208859e+12
Poland,25,3123,3102,24852,5395,7.96,55,412100000,107,5.537899,4.041913e+11,4.332999e+11,4.502869e+11,4.621483e+11,4.792425e+11,5.032454e+11,5.111047e+11,5.175686e+11,5.345580e+11,5.540679e+11
Greece,27,2866,2835,41662,6226,14.54,82,99300000,90,24.795280,3.215536e+11,3.320804e+11,3.309674e+11,3.167333e+11,2.993794e+11,2.720386e+11,2.521784e+11,2.441132e+11,2.457096e+11,2.451406e+11
Belgium,29,2697,2642,23720,3300,8.79,63,233800000,210,9.959739,4.626081e+11,4.783251e+11,4.818987e+11,4.708879e+11,4.835775e+11,4.922666e+11,4.930476e+11,4.930627e+11,4.994502e+11,5.063123e+11
Singapore,30,2488,2443,36098,3700,14.51,81,112000000,207,0.000000,1.858428e+11,2.027759e+11,2.064007e+11,2.051553e+11,2.364218e+11,2.510975e+11,2.603132e+11,2.724840e+11,2.813671e+11,2.870180e+11
Finland,33,1998,1978,19273,3260,9.65,59,137400000,252,19.536570,2.475907e+11,2.604278e+11,2.623046e+11,2.406146e+11,2.478146e+11,2.541854e+11,2.505603e+11,2.486609e+11,2.469245e+11,2.482728e+11

### This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order

In [92]:
def avgGDP():
    new_Tab=merge()[[2006,2007,2008,2009,2010,2011,2012,2013,2014,2015]]
    new_Tab['avg']=new_Tab[[2006,2007,2008,2009,2010,2011,2012,2013,2014,2015]].apply(lambda z: np.nanmean(z),axis=1)
    tab=new_Tab.sort_values(by='avg', ascending=False)
    return tab['avg']

avgGDP()

Country
Germany               3.493025e+12
Brazil                2.189794e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Mexico                1.090990e+12
Turkey                7.704245e+11
Sweden                4.960427e+11
Belgium               4.861437e+11
Poland                4.849714e+11
Norway                4.389348e+11
Greece                2.859894e+11
Malaysia              2.672205e+11
Finland               2.507356e+11
Singapore             2.388876e+11
Name: avg, dtype: float64

#### By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

In [104]:
def getchange():
    return avgGDP()[5]
getchange()

1090990419528.4371

In [117]:
merge().loc['Mexico'][2015]-merge().loc['Mexico'][2006]

206130371100.70996